[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pep8 = "*"

[packages]
django = "*"
django-widget-tweaks = "*"
python-decouple = "*"
mysqlclient = "*"

[scripts]
server = "python manage.py runserver"

[requires]
python_version = "3.7"
