{% extends 'todolist/base.html' %}

{% block content %}
<ul class="list-group">
    {% for todo in todos %}
    <li class="list-group-item">
        {{ todo.title }}
        <a href="{% url 'todolist:done' todo_id=todo.id %}">
            {% if todo.done %}
            <i class="fas fa-check-circle"></i>
            {% else %}
            <i class="fas fa-times-circle"></i>
            {% endif %}
        </a>
        <a href="{% url 'todolist:delete' todo_id=todo.id %}">
            <i class="fas fa-trash"></i>
        </a>
    </li>
    {% empty %}
    <li>
        Empty
    </li>
    {% endfor %}
</ul>
{% endblock %}