{% extends 'todolist/base.html' %}

{% block content %}
<ul class="list-group" id="todos">
    {% for todo in todos %}
    <li class="list-group-item {% if todo.done %}done{% endif %}">
        <a href="{% url 'todolist:done' todo_id=todo.id %}">
            {% if todo.done %}
            <del>{{ todo.title }}</del>
            {% else %}
            {{ todo.title }}
            {% endif %}
        </a>

        <a href="{% url 'todolist:delete' todo_id=todo.id %}">
            <i class="fas fa-trash float-right"></i>
        </a>
    </li>
    {% empty %}
    <li class="list-group-item">
        Nothing To-do, do something!
    </li>
    {% endfor %}
</ul>
{% endblock %}