html {
    font-size: x-large;
}

body {
    background-image: url("../images/paper.jpg");
    font-family: 'Caveat', cursive;
    color: black;
}

a {
    color: unset;
}

.btn {
    color: unset;
}

.form-control, .btn {
    border-radius: 0%;
}

.form-control {
    width: 100% !important;
}

.form-group {
    padding: 0 0;
}

.header {
    padding: 30px 40px;
    text-align: center;
}

#todos li {
    background-color: rgba(0, 0, 0, 0);
}

.done {
    background: #8B9DB6;
}

i {
    
    color: #93999e;
}

i:hover {
    color: #3c3e3f;
}

.list-group-item:first-child {
    border-radius: 0;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-radius: 0;
}

#id_title {
    opacity: 0.5;
}

h2 {
    margin-bottom: 0;
}